In [2]:
import pandas as pd

In [9]:
##import player_list.csv ans player_data-original.csv files and build dataframe##
df_player_list = pd.read_csv("player_list.csv")
df_player_data = pd.read_csv("player_data-original.csv")
df_player_data.drop('Unnamed: 0',axis='columns', inplace=True)

In [4]:
df_transfer_history = pd.read_csv("transfer_history.csv")
df_transfer_history.drop('Unnamed: 0',axis='columns', inplace=True)

In [8]:
df_player_list

              player name                                        player link
0           Kylian Mbappé  https://www.transfermarkt.com/kylian-mbappe/pr...
1          Erling Haaland  https://www.transfermarkt.com/erling-haaland/p...
2            Jadon Sancho  https://www.transfermarkt.com/jadon-sancho/pro...
3         Frenkie de Jong  https://www.transfermarkt.com/frenkie-de-jong/...
4         Bruno Fernandes  https://www.transfermarkt.com/bruno-fernandes/...
...                   ...                                                ...
8208      George Maluleka  https://www.transfermarkt.com/george-maluleka/...
8209      Antonio Palumbo  https://www.transfermarkt.com/antonio-palumbo/...
8210            Tim Melia  https://www.transfermarkt.com/tim-melia/profil...
8211  Christofer Gonzales  https://www.transfermarkt.com/christofer-gonza...
8212           Ali Karimi  https://www.transfermarkt.com/ali-karimi/profi...

[8213 rows x 2 columns]

In [11]:
df_transfer_history

,player,season,date,left,joined,market value,fee
0,Kylian Mbappé,18/19,"Jul 1, 2018",Monaco,Paris SG,€120.00m,€145.00m
1,Kylian Mbappé,17/18,"Jun 30, 2018",Paris SG,Monaco,€120.00m,End of loan
2,Kylian Mbappé,17/18,"Aug 31, 2017",Monaco,Paris SG,€35.00m,loan transfer
3,Kylian Mbappé,15/16,"Dec 1, 2015",Monaco U19,Monaco,-,-
4,Kylian Mbappé,15/16,"Jul 1, 2015",Monaco Youth,Monaco U19,-,-
...,...,...,...,...,...,...,...
52468,Ali Karimi,17/18,"Sep 6, 2017",Dinamo Zagreb,Sepahan,€350Th.,free transfer
52469,Ali Karimi,16/17,"Jun 30, 2017",NK Lokomotiva,Dinamo Zagreb,€350Th.,End of loan
52470,Ali Karimi,16/17,"Feb 10, 2017",Dinamo Zagreb,NK Lokomotiva,€500Th.,loan transfer
52471,Ali Karimi,16/17,"Aug 8, 2016",Sepahan,Dinamo Zagreb,€600Th.,€360Th.
52472,Ali Karimi,12/13,"Jul 1, 2012",Sepahan FC U19,Sepahan,-,-

In [10]:
df_player_data

,date_of_birth,place_of_birth,age,height,citizenship,position,foot,current_club,joined_date,current value-EUR,highest value-EUR
0,"Dec 20, 1998",Paris,22,"1,78",France,attack - Centre-Forward,right,Paris Saint-Germain,"Jul 1, 2018",€160.00m,€200.00m
1,"Jul 21, 2000",Leeds,20,"1,94",Norway,attack - Centre-Forward,left,Borussia Dortmund,"Jan 1, 2020",€130.00m,€130.00m
2,"Mar 25, 2000",London,21,"1,80",England,attack - Right Winger,right,Borussia Dortmund,"Aug 31, 2017",€100.00m,€130.00m
3,"May 12, 1997",Arkel,24,"1,80",Netherlands,midfield - Central Midfield,right,FC Barcelona,"Jul 1, 2019",€90.00m,€90.00m
4,"Sep 8, 1994",Maia,26,"1,79",Portugal,midfield - Attacking Midfield,right,Manchester United,"Jan 29, 2020",€90.00m,€90.00m
...,...,...,...,...,...,...,...,...,...,...,...
8208,"Jan 7, 1989","Tembisa, Gauteng",32,"1,76",South Africa,midfield - Central Midfield,NaN,Mamelodi Sundowns FC,"Jul 1, 2020",€525Th.,€850Th.
8209,"Aug 6, 1996",Napoli,24,"1,82",Italy,midfield - Central Midfield,NaN,Ternana Calcio,"Oct 5, 2020",€650Th.,€650Th.
8210,"May 15, 1986","Great River, New York",35,"1,85",United States,Goalkeeper,NaN,Sporting Kansas City,"Aug 13, 2014",€600Th.,€1.00m
8211,"Oct 12, 1992",Lima,28,"1,77",Peru,midfield - Attacking Midfield,NaN,Club Sporting Cristal,"Jan 1, 2019",€575Th.,€750Th.
8212,"Feb 11, 1994","Isfahan,iran",27,"1,85",Iran,midfield - Central Midfield,NaN,Al-Duhail SC,"Jan 5, 2021",€525Th.,€700Th.

In [26]:
##A loop that calculate how many times a player was transferred between teams in his career and what was his first team he played for##
first_club=list()
transfer_count=list()
for name in df_player_list['player name']:
    try:
        df_temp = df_transfer_history[df_transfer_history['player'] == name]
        first_club.append(df_temp.iloc[-1,4])
    except:
        first_club.append("unknown")
    try:
        transfer_count.append(sum(df_transfer_history['player'] == name))
    except:
        transfer_count.append(0)

In [27]:
##checks lists length##
print(len(first_club))
print(len(transfer_count))

8213
8213

In [32]:
##addition of the lists to df_player_data dataframe##
df_player_data['first_club'] = first_club
df_player_data['transfer_count'] = transfer_count

In [33]:
df_player_data

,date_of_birth,place_of_birth,age,height,citizenship,position,foot,current_club,joined_date,current value-EUR,highest value-EUR,first_club,transfer_count
0,"Dec 20, 1998",Paris,22,"1,78",France,attack - Centre-Forward,right,Paris Saint-Germain,"Jul 1, 2018",€160.00m,€200.00m,Monaco Youth,6
1,"Jul 21, 2000",Leeds,20,"1,94",Norway,attack - Centre-Forward,left,Borussia Dortmund,"Jan 1, 2020",€130.00m,€130.00m,Bryne FK,4
2,"Mar 25, 2000",London,21,"1,80",England,attack - Right Winger,right,Borussia Dortmund,"Aug 31, 2017",€100.00m,€130.00m,Man City Youth,3
3,"May 12, 1997",Arkel,24,"1,80",Netherlands,midfield - Central Midfield,right,FC Barcelona,"Jul 1, 2019",€90.00m,€90.00m,Willem II/RKC-17,10
4,"Sep 8, 1994",Maia,26,"1,79",Portugal,midfield - Attacking Midfield,right,Manchester United,"Jan 29, 2020",€90.00m,€90.00m,Boavista U15,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8208,"Jan 7, 1989","Tembisa, Gauteng",32,"1,76",South Africa,midfield - Central Midfield,NaN,Mamelodi Sundowns FC,"Jul 1, 2020",€525Th.,€850Th.,U. Pretoria,6
8209,"Aug 6, 1996",Napoli,24,"1,82",Italy,midfield - Central Midfield,NaN,Ternana Calcio,"Oct 5, 2020",€650Th.,€650Th.,Ternana U19,12
8210,"May 15, 1986","Great River, New York",35,"1,85",United States,Goalkeeper,NaN,Sporting Kansas City,"Aug 13, 2014",€600Th.,€1.00m,Long Island RR,11
8211,"Oct 12, 1992",Lima,28,"1,77",Peru,midfield - Attacking Midfield,NaN,Club Sporting Cristal,"Jan 1, 2019",€575Th.,€750Th.,Universitario,9
8212,"Feb 11, 1994","Isfahan,iran",27,"1,85",Iran,midfield - Central Midfield,NaN,Al-Duhail SC,"Jan 5, 2021",€525Th.,€700Th.,Sepahan,8

In [34]:
##Export the dataframe to CSV file###
df_player_data.to_csv("player_data.csv")